<div>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>

  <strong>
  <%= link_to 'Destroy Comment', [comment.article, comment], 
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </strong>
</p><br>
</div>
